/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    height: 100vh;
    margin: 10px;
}
header {
    grid-area: header;
    margin: 10px;
    padding: 10px;
}
main {
    grid-area: main;
    margin: 10px;
    padding: 10px;
}
footer {
    grid-area: footer;
    background-color: lightblue;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
}
h3 {
    opacity: 70%;
    font-size: 18px;
}
article {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
ul li {
    grid-area: menu;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}
img {
    margin: 5px;
}
nav {
    grid-area: menu;
    color: #000;
    margin: 10px;
    padding-top: 50px;
    padding-right: 20px;
}
.linea {
    grid-area: linea;
    margin: 20px 100px;
    border-bottom: 1px solid #000;
}
/* Clases */
.titulo {
    margin: 3px;
    font-size: 32px;
}
.subtitulo {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    text-align: center;
}
.centrado {
    text-align: center;
}
.nos {
    margin: 10px;
    padding: 10px;
}
.masInformacion {
    font-size: 16px;
}
.mainFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.sectionFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.nosSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.conMainFlex {
    display: flex;
    flex-direction: column;
}
.conSectionFlex {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.conComentario {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ID */
#centro {
    text-align: center;
}

/* Grid Area */
#gridAreas {
    display: grid;
    grid-template-areas: 
    "header menu menu"
    "linea linea linea"
    "main main main"
    "footer footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 1fr 1fr 3fr 1fr;
}

/* Desktop */
@media (min-width: 1024px){
    body {
        height: 100vh;
        margin: 10px;
    }
    nav {
        grid-area: menu;
        color: #000;
        margin: 10px;
        padding-top: 50px;
        padding-right: 20px;
    }
    
    /* Grid Area */
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "header menu menu"
        "linea linea linea"
        "main main main"
        "footer footer footer";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-rows: 1fr 1fr 3fr 1fr;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1023px){
    body {
        height: 100vh;
        margin: 10px;
    }
    nav {
        grid-area: menu;
        color: #000;
        margin: 10px;
        padding-top: 50px;
        padding-right: 20px;
    }
    .nosSection {
        display: flex;
        flex-direction: column;
    }
    /* Grid Area */
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "header menu"
        "linea linea"
        "main main"
        "footer footer";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-rows: 1fr 1fr 2fr 1fr;
    }
}

/* Smartphone */
@media (max-width: 480px){
    body {
        height: 100vh;
        margin: 10px;
    }
    nav {
        margin: 0;
        padding: 0;
        grid-area: menu;
        color: #000;
    }
    ul li {
        grid-area: menu;
        padding: 10px;
        font-size: 18px;
        margin: 10px;
    }
    .imgNos {
        height: 40vh;
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mainFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .sectionFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nosSection {
        display: flex;
        flex-direction: column;
    }
    .subDis {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .conSectionFlex {
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Grid Area */
    #gridAreas {
        display: grid;
        grid-template-areas: 
        "header"
        "menu"
        "linea"
        "main"
        "footer";
        grid-row-gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    }
}