/* estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
footer {
    background-color: rgb(247, 247, 247);
}
label {
    margin: 4px;
}
.centrar {
    text-align: center;
    margin-top: 10px;
}
.imgCentro {
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.margen {
    margin: 2px;
}
.artMargen {
    margin: 4px;
}
.contactoFlex {
    display: flex;
    flex-direction: column;
}